/* About CSS 

  Estilos para a seção sobre da página.

*/

.about-data .container-column {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.about-data .container-column h3 {
  font-size: calc(2em + 1vw);
  font-weight: 800;
  background: linear-gradient(135deg, var(--quintenary-color), var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}