/* About CSS 

  Estilos para a seção sobre da página.

*/

.container-row .about-data .container-column {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.about-data .container-column h3 {
  font-size: calc(2em + 1vw);
  font-weight: 800;
  background: linear-gradient(135deg, var(--quintenary-color), var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons-container-about {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 55px;
}

.buttons-container-about .container-column{
  align-items: flex-start !important;
  flex: none !important;
}

@media screen and (max-width: 768px) {
  .buttons-container-about {
    justify-content: center;
    gap: 0;
    margin-bottom: 2rem !important;
  }
}