/* Adoption CSS 

  Estilos para a seção de Adoção e Apadrinhamento.

*/

.adoption-subtitle {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--font-color) !important;
  margin-bottom: 5px !important;
}

.adoption-cards-container {
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.adoption-card {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  flex-grow: 1;
}

.adoption-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.adoption-card-content {
  padding: 15px;
}

.adoption-card-content h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0;
}

.pet-info {
  font-size: 0.9em;
  color: var(--font-color);
  margin-bottom: 15px;
}

.description-text {
  font-size: 0.95em;
  margin-bottom: 20px;
}

.adoption-card .button-group {
  justify-content: space-between;
  gap: 10px;
}

.adoption-card .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 0.9em;
  padding: 10px 15px;
}

.see-all-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px auto 0;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: var(--white-color) !important;
  padding: 15px 30px;
  text-decoration: none;
}

.see-all-btn:hover {
  background-color: rgb(240, 240, 240) !important;
}

@media (max-width: 767px) {
  #adoption .container {
    border: none;
    padding: 0;
  }

  .adoption-cards-container {
    justify-content: center;
  }
}
