/* Footer CSS 

  Estilos para o Footer da página.

*/

.newsletter-container {
  border-top: 1px solid #d0d0d0;
  padding-top: 2.5rem;
  border-bottom: 1px solid #d0d0d0;
}

#footer .container-column:first-child {
  flex: calc(0.7 + 7vw);
}

#footer .container-form {
  flex: 0.8;
}

#footer .title {
  font-size: calc(1em + 1.3vw);
  font-family: var(--text-font);
}

#footer .btn {
  padding: 10px 25px;
}

#footer .input {
  width: 100%;
}

#footer .container-form .container-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

#footer small {
  margin-top: 1rem;
  font-size: calc(0.8em + 0.1vw);
  color: var(--font-color);
}

/* Estilos da Parte Inferior (Dados) */
.footer-data-row {
  margin-top: 4rem;
  align-items: flex-start;
}

.footer-logo-col,
.footer-nav-col,
.footer-contact-col,
.footer-pix-col {
  padding: 0;
  align-items: flex-start;
  min-width: 150px;
}

.footer-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.footer-description {
  font-size: calc(0.85em + 0.1vw);
  margin-bottom: 0;
  line-height: 1.4;
}

.footer-section-title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: calc(1.2em + 0.1vw);
  color: var(--btn-color);
}

.footer-list,
.sidebar-list {
  list-style: none;
  padding: 0;
}

.footer-list li,
.sidebar-list li {
  font-size: calc(0.9em + 0.1vw);
  color: var(--font-color);
  margin-bottom: 8px;
}

.footer-list .footer-link {
  text-decoration: none;
  color: var(--font-color);
  transition: color 150ms ease;
}

.footer-list .footer-link:hover {
  color: var(--primary-color);
}

.footer-pix-col {
  align-items: center;
  justify-content: center;
}

.footer-qrcode {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.064);
  padding: 10px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.footer-qrcode:hover {
  transform: scale(1.05);
}

.pix-key-text {
  font-size: 0.8em;
  text-align: center;
  font-weight: 550;
  color: #000;
}

.footer-copyright-row {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto 0;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #d0d0d0;
}

.copyright-text {
  font-size: calc(0.8em + 0.1vw);
  color: #888;
  margin: 0;
}

@media (max-width: 900px) {
  .footer-data-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo-col,
  .footer-nav-col,
  .footer-contact-col,
  .footer-pix-col {
    min-width: 80%;
    margin-bottom: 30px;
    align-items: center;
  }

  .footer-description,
  .footer-section-title,
  .footer-list,
  .pix-key-text,
  .subtitle,
  #footer .title {
    text-align: center;
  }

  #footer .container-form {
    flex: 1;
  }

  #footer .container-form .container-row {
    flex-wrap: wrap;
  }

  #footer .container-form .btn {
    width: 100%;
  }

  #footer small {
    text-align: center;
  }
}
