/* Inicio do arquivo global.css 

    Estilos Globais que podem ser reutilizados em todo o projeto.

    Esses estilos incluem reset de CSS, variáveis CSS, estilos para botões, containers, textos e formulários.

*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
  font-family: "MarvinRound";
  src: url("../fonts/Marvin-Round.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}

:root {
  /* Cores Principais - Escala de Azuis */
  --primary-color: #08415c;
  --secondary-color: #126d96;
  --tertiary-color: #e6f1f6;
  --quartenary-color: #032535;
  --quintenary-color: #38bdf8;
  --sextanary-color: #ef7a8d;

  --font-color: #334155;
  --title-color: #0f172a;
  --btn-color: #08415c;
  --hover-color: #0a5275;
  --hover-gray: #f5f8fd;
  --nav-side-color: rgba(255, 255, 255, 0.7);

  --background-color: #f8fafc;
  --white-color: #ffffff;
  --border: 1px solid #e2e8f0;

  --font-title: "MarvinRound", sans-serif;
  --font-text: "Nunito", sans-serif;
}

.dark {
  /* Cores para o Modo Escuro */
  --primary-color: #38bdf8;
  --secondary-color: #0ea5e9;
  --tertiary-color: #1e293b;
  --quartenary-color: #f1f5f9;
  --quintenary-color: #7dd3fc;

  --font-color: #cbd5e1;
  --title-color: #f8fafc;
  --btn-color: #38bdf8;
  --hover-color: #0ea5e9;
  --hover-gray: #0a517570;
  --nav-side-color: rgba(25, 22, 54, 0.8);

  --background-color: #020617;
  --white-color: #0f172a;
  --border: 1px solid #1e293b;
}

html,
body {
  font-family: var(--font-text);
  background-color: var(--background-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
  padding-top: 40px;
}

a {
  text-decoration: none;
}

/* Containers CSS */
.container {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
  /* border: var(--border); */
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: var(--border); */
}

.container-fluid h2,
.subtitle {
  font-size: calc(0.9em + 1vw);
  font-weight: 500;
  color: var(--font-color);
  margin-bottom: 10px;
}

.container-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  /* border: var(--border); */
}

#container-row {
  flex-wrap: nowrap;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: var(--border); */
}

.iconezin {
  width: 50px;
  height: 50px;
}

#about,
#programs,
#adoption,
#donation,
#needs,
#volunteer,
#transparency,
#impact,
#footer {
  margin-top: 6rem;
}

.section-page {
  margin-top: 2rem;
}

.section-page .see-all-btn {
  margin: 0;
}

.container-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

/* Buttons CSS */
.btn {
  padding: 15px 25px;
  border: none;
  gap: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: calc(1em + 0.01vw);
  transition: all 150ms ease;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

.btn-primary {
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: var(--white-color);
  color: var(--btn-color);
  border: 1px solid lightgray;
}

.btn-secondary:hover {
  background-color: var(--hover-gray);
  color: var(--secondary-color);
}

/* Text Elements CSS */
.title {
  font-size: calc(1.8em + 1.5vw);
  font-weight: bold;
  margin-bottom: 10px;
  font-family: var(--font-title);
  color: var(--title-color);
}

.text {
  font-size: calc(1em + 0.1vw);
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: var(--font-color);
}

.tag {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 600;
}

.text-info {
  max-width: 600px;
  margin: 10px 0 40px;
}

h3.title {
  text-align: left;
  font-size: calc(1.5em + 0.5vw);
  font-family: var(--text-font);
}

/* Form Elements CSS */
.input {
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--btn-color);
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Responsividade CSS */
.desktop-only {
  display: none !important;
}

.d-none {
  display: none !important;
}

.menu-burguer {
  display: block !important;
  cursor: pointer;
  transition: background-color 150ms ease;
}

@media (min-width: 768px) {
  .buttons-navbar {
    display: flex !important;
  }

  .nav {
    display: flex !important;
  }

  .menu-burguer,
  .sidebar {
    display: none !important;
  }

  .container {
    padding: 20px;
  }
}

@media (max-width: 1000px) {
  #centraliza {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }

  #centraliza .container-image {
    display: grid;
    place-items: center;
  }

  #boua {
    justify-self: center;
    align-self: center;
  }

  #primeira-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .espaco-filtro {
    background-color: #08415c;
    flex-direction: column;
  }
}

.vamooo {
  display: flex;
  flex-direction: column;
}

.espaco-filtro {
  background-color: #222;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.276);
  border-radius: 16px;
  padding: 25px 40px;
  display: flex;
  gap: 15%;
  flex-direction: row;
  align-items: center;
  width: 90%;
  max-width: 900px;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.filtro-buscar,
.filtro-categorias {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  color: #ff9800;
  width: 100%;
  max-width: 350px;
}

.filtros label {
  margin-bottom: 8px;
  font-size: 16px;
}

.filtros input,
select {
  border: 2px solid #ff9800;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 15px;
  outline: none;
  background-color: #fff;
  transition: 0.3s;
}

/* Fim do arquivo global.css */
