/* Hero CSS 

  Estilos para a seção hero inicial da página.

*/

#hero .container-row {
  width: 100%;
  margin-top: 2rem;
}

#hero .container-column:first-child,
#about .container-column:first-child {
  flex: 1;
}

.img {
  max-width: 472px;
  max-height: 712px;
  width: calc(35vw + 100px);
  align-self: end;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.container-qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 10ms ease-in-out;
  padding: 5px;
  border-radius: 10px;
}

.qrcode {
  width: 93px;
  height: 93px;
  align-self: center;
  margin-bottom: 7px;
  cursor: pointer;
}


.container-qrcode:hover .qrcode {
  transform: scale(1.1);
}

.container-qrcode:active .qrcode {
  transform: scale(1);
}

#hero .container-column small {
  width: 100px;
  text-align: center;
  color: var(--font-color);
  cursor: pointer;
}

@media (max-width: 325px) {
  .container-row.cta-container {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .container-row.cta-container {
    justify-content: start;
    gap: 30px;
  }
}

.container-image {
  display: block;
  margin: auto;
}

.container-column.button-container {
  gap: 15px;
  margin-top: 20px;
  max-width: 300px;
}

.hero-highlight {
  color: var(--quintenary-color);
  margin-bottom: 10px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
}

.title span,
.dark .title:not(#hero .title) {
  background: linear-gradient(135deg, var(--quintenary-color), var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.dark #hero .title {
  color: var(--font-color) !important;
}

.text-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
}
