/* Impact CSS 

  Estilos para a seção de Histórias de Impacto.

*/

.card-meta {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
  margin-bottom: 10px;
}

.card-content {
  padding: 25px;
}

.card-meta .icon-time {
  font-size: 1em;
}

#impact .container-row .subtitle {
  font-size: 1.3em;
  font-weight: bold;
  color: #000 !important;
  margin-bottom: 5px;
}

.card-description-impact {
  font-size: 0.95em;
  color: var(--font-color);
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 70px;
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 0 !important;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: color 150ms ease;
  width: fit-content;
}

.btn-link:hover {
  color: var(--quintenary-color);
}

.btn-link .material-symbols-outlined {
  font-size: 1em;
}

#impact .see-all-btn {
  width: 300px;
  text-align: center !important;
}

@media (max-width: 767px) {
  .impact-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .impact-card {
    max-width: 90%;
  }
}

/* Fim do Impact CSS */