/* Impact CSS 

  Estilos para a seção de Histórias de Impacto.

*/

#impact .adoption-card {
  display: flex;
  flex-direction: column;
  transition: transform 150ms ease;
  height: 100% !important;
  min-height: 450px !important;
}

#impact .adoption-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.card-meta {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
  margin-bottom: 10px;
}

.card-content {
  padding: 25px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-meta .icon-time {
  font-size: 1em;
}

#impact .container-row .subtitle {
  font-size: 1.3em;
  font-weight: bold;
  color: #000 !important;
  margin-bottom: 5px;
  text-align: left;
}

.card-description-impact {
  font-size: 0.95em;
  color: var(--font-color);
  margin-bottom: 20px;
  min-height: 70px;
  flex-grow: 1;
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 0 !important;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: color 150ms ease;
  width: fit-content;
}

.btn-link:hover {
  color: var(--quintenary-color);
}

.btn-link .material-symbols-outlined {
  font-size: 1em;
}

#impact .see-all-btn {
  width: 300px;
  text-align: center !important;
}

#impact .see-all-btn img {
  width: 24px;
  height: 24px;
}

@media (max-width: 767px) {
  .impact-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .impact-card {
    max-width: 90%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* Fim do Impact CSS */
