/* Importação de todos os arquivos CSS */

@import './global.css';
@import './navbar.css';
@import './hero.css';
@import './about.css';
@import './programs.css';
@import './adoption.css';
@import './donation.css';
@import './needs.css';
@import './volunteer.css';
@import './transparency.css';
@import './impact.css';
@import './footer.css';