/* Navbar CSS 

  Estilos para a barra de navegação e para a barra lateral.

*/

.navbar {
  width: 100%;
  background-color: var(--white-color);
  transition: all 250ms ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.sidebar .logo {
  gap: 0;
}

.logo span {
  font-weight: 400;
  font-size: calc(1.5em + 0.2vw);
  font-family: var(--font-title);
  color: var(--quartenary-color);
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav,
.sidebar .sidebar-nav {
  list-style: none;
  gap: 20px;
}

.navbar .nav {
  display: none;
}

.navbar .nav .nav-link:hover::before {
  filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.5));
  opacity: 1;
}

.navbar .nav .nav-link,
.sidebar .sidebar-nav .sidebar-nav-link {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  transition: color 150ms ease;
}

.navbar .nav .nav-link:hover,
.sidebar .sidebar-nav .sidebar-nav-link:hover {
  color: var(--primary-color);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100%;
  background-color: var(--white-color);
  box-shadow: 2px -10px 15px rgba(0, 0, 0, 0.1);
  transition: right 250ms ease;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar.active {
  right: 0;
}

.sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .menu-burguer {
  position: absolute;
  top: 32px;
  right: 30px;
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  margin: 60px 0 40px;
}

.sidebar-list {
  margin-top: auto;
  margin-left: 15px;
}

.buttons-navbar {
  display: none;
  align-items: center;
}

.hover-nav-item {
  padding-left: 23px;
  position: relative;
}

.hover-nav-item::before {
  content: url("../assets/icons/paw-icon.png");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  opacity: 0;
}

.hover-nav-item:hover::before {
  opacity: 1;
}

/* Menu Burguer Button CSS */
.menu-burguer {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-burguer {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 24px;
  transition: background-color 0.3s;
}

.menu-burguer i {
  display: block;
  margin: auto;
}

.menu-burguer:hover {
  background-color: var(--secondary-color);
}

.hidden {
  display: none !important;
}

.navbar.sticky-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.99);
  transform: blur(5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dark .navbar.sticky-scrolled {
  background-color: #262626fa;
}

.navbar.sticky-scrolled .logo img {
  width: 50px;
  height: 50px;
  transition: all 300ms ease-in-out;
}

.navbar.sticky-scrolled .logo span {
  font-size: 1.2em;
  transition: font-size 300ms ease-in-out;
}

.navbar .container {
  height: 90px;
  transition: all 300ms ease-in-out;
}

.navbar.sticky-scrolled .container {
  height: 70px;
}