/* Navbar CSS 

  Estilos para a barra de navegação e para a barra lateral.

*/

.navbar {
  width: 100%;
  background-color: var(--white-color);
  transition: all 250ms ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .btn-secondary {
  border: 0;
}

.sections-nav {
  position: relative;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.sections-nav .nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  transition: all 300ms ease-in-out;
}

.navbar .logo span {
  font-size: 1.2em;
  transition: font-size 300ms ease-in-out;
}

.sidebar .logo {
  gap: 0;
}

.logo span {
  font-weight: 400;
  font-size: calc(1.5em + 0.2vw);
  font-family: var(--font-title);
  color: var(--quartenary-color);
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav,
.sidebar .sidebar-nav {
  list-style: none;
  gap: 20px;
}

.navbar .nav {
  display: none;
}

.nav-link:hover::before {
  filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.5));
  opacity: 1;
}

.nav-link,
.sidebar-nav-link {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  transition: color 150ms ease;
}

.nav-link.active {
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.sections-nav .nav .nav-link.active {
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  color: var(--white-color);
  background-color: var(--hover-color);
}

.sidebar-nav-link.active {
  color: var(--primary-color) !important;
}

.sidebar-nav-link.active::before {
  content: url("../assets/icons/paw-icon.png");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
}

.nav-link:hover,
.sidebar-nav-link:hover {
  color: var(--secondary-color);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100%;
  box-shadow: 2px -10px 15px rgba(0, 0, 0, 0.1);
  transition: right 250ms ease;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar.active {
  right: 0;
}

.sidebar-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .menu-burguer {
  position: absolute;
  top: 32px;
  right: 30px;
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  margin: 60px 0 40px;
  list-style: none;
}

.sidebar-list {
  margin-top: auto;
  margin-left: 15px;
}

.buttons-navbar {
  display: none;
  align-items: center;
}

.hover-nav-item {
  padding-left: 23px;
  position: relative;
}

.hover-nav-item::before {
  content: url("../assets/icons/paw-icon.png");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  opacity: 0;
}

.hover-nav-item:hover::before {
  opacity: 1;
}

/* Menu Burguer Button CSS */
.menu-burguer {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-burguer {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 24px;
  transition: background-color 0.3s;
}

.menu-burguer i {
  display: block;
  margin: auto;
}

.menu-burguer:hover {
  background-color: var(--secondary-color);
}

.hidden {
  display: none !important;
}

.navbar.sticky-scrolled,
.sidebar {
  background-color: var(--nav-side-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dark .navbar.sticky-scrolled {
  background-color: var(--nav-side-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .container {
  height: 70px;
  transition: all 300ms ease-in-out;
}

.navbar.sticky-scrolled .container {
  height: 70px;
}

/* Estilos para o Accordion */
.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.accordion-header .sidebar-nav-link {
  flex-grow: 1;
}

.accordion-icon {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
  transition: transform 300ms ease;
  padding-right: 10px;
}

.accordion-header.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
  padding-left: 10px;
}

.accordion-content .hover-nav-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 33px;
}
