/* Programs CSS 

  Estilos para a seção de programas da página.

*/

#programs h3 {
    color: var(--btn-color);
}

.card {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.cards-container {
    flex-flow: column nowrap;
}

.card .container-row {
    gap: 10px; 
}

.card .container-column:last-child {
    flex: 10;
}
.card .container-column:first-child {
    justify-content: start;
}

@media (min-width: 768px) {
    .cards-container {
        flex-flow: row wrap;
    }
    
    .card {
        width: calc(30% - 10px); 
    }
}