/* Transparency CSS 

  Estilos para a seção de Transparência.

*/

.transparency-cards-container {
  gap: 30px;
  justify-content: space-around;
}

/* Card Base */
#transparency .container-column {
  background-color: var(--white-color);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  padding: 30px;
  width: 100%;
  flex: 1;
  max-width: 592px;
}

/* Card 1: Despesas e Receitas */
.card-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.card-header .icon-data {
  color: var(--primary-color);
  font-size: 28px;
}

.card-header .subtitle {
  text-align: left;
  margin: 0;
  font-weight: 600;
}

.data-item {
  margin-bottom: 25px;
  text-align: left;
}

.data-item.data-saldo {
  border-top: 1px solid lightgray;
  padding-top: 15px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.data-label {
  margin: 0;
}

.data-value {
  font-size: 1.3em;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 5px;
}

.data-value.highlight-orange {
  color: var(--primary-color);
}

.saldo-value {
  font-size: 1.5em;
  font-weight: bold;
  color: #4caf50;
  margin: 0;
}

/* Progress Bars para Receitas/Despesas */
.progress-bar-container {
  background-color: #eee;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
}

.progress-green {
  background-color: #4caf50;
}

.progress-orange {
  background-color: var(--primary-color);
}

/* Card 2: Distribuição de Gastos */
.card-distribution .subtitle {
  text-align: left;
  margin-bottom: 30px;
  font-weight: 600;
}

.distribution-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.distribution-label {
  font-size: 1em;
  color: var(--font-color);
  margin: 0;
  width: 60%;
  text-align: left;
}

.distribution-percentage {
  font-size: 1em;
  font-weight: bold;
  color: var(--quartenary-color);
  margin: 0;
  width: 20%;
  text-align: right;
}

.distribution-bar {
  width: 100%;
  margin-top: 5px;
}

.progress-orange-soft {
  background-color: var(--secondary-color);
}

.report-btn {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: var(--white-color) !important;
}

@media (max-width: 767px) {
  .transparency-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .transparency-card {
    max-width: 90%;
  }

  .distribution-label,
  .distribution-percentage {
    width: auto;
  }
}
